@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.background{
   -fx-background-color: #4B0907;
}

.tab {
   -fx-background-color: #b8b8b8;
}

.tab:hover {
   -fx-background-color: #404040;
}

.tab:hover .tab-label{
    -fx-text-fill: #c4c4c4;
}

.tab:selected {
    -fx-background-color: #4d4d4d;
    -fx-focus-color: transparent;
}

.tab:selected .tab-label {
    -fx-text-fill: #fff;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #7d7d7d;
    -fx-font-size: 10px;
    -fx-font-family: 'Roboto Mono';
    -fx-font-weight: bold;
}



.title-text {
    -fx-font-family: 'Shrikhand';
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-padding-top: 40px;
}

.pieChart-text{
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.label-text{
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text: white;
    -fx-color: white;
}

.header-text{
-fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text: white;
    -fx-color: white;
}

.text-field{
    -fx-max-width: 200px;
    -fx-padding: 5px;

    -fx-border-color: #333333;
    -fx-border-width: 2;
     -fx-border-radius: 1;
    -fx-border-width: 2px;
    -fx-background-color: #ecf0f1;
}

.button-style{
-fx-background-color: #404040;
    -fx-font-family: 'Roboto Mono';
    -fx-font-size: 10pt;
    -fx-text-fill: #fff;
    -fx-border-radius: 2pt
}

.button-style:hover{
-fx-background-color: #b8b8b8;
    -fx-font-family: 'Roboto Mono';
    -fx-font-size: 10pt;
    -fx-text-fill: #242424;
    -fx-border-radius: 2pt
}

.alert-text{
    -fx-text: red;
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.vbox-order {
    -fx-padding: 40;
    -fx-margin: 10 200 10 200;
     -fx-alignment: center;
}

.bordered-vbox{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-margin: 30px;
}

.toggle-switch {
    -fx-background-color: black;
    -fx-background-radius: 15;
    -fx-padding: 5;
}

.toggle-switch:selected {
    -fx-background-color: grey;
}